<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>I am Ohunayo Gege</title>
    <meta name="description" content="Ohunayo Allen Gege Personal Portfolio">
    <meta name="keywords" content="Web Developer, Web Designer, Website, Designer, Devs, Django, Python, Developer">
    <meta name="author" content="Ohunayo Gege">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Template CSS Files -->
    <link type="text/css" media="all" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" media="all" href="/static/css/jquery.animatedheadline.css" rel="stylesheet">
    <link type="text/css" media="all" href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" media="all" href="/static/css/style.css" rel="stylesheet">
    <link type="text/css" media="all" href="/static/css/skins/teal.css" rel="stylesheet">

    <!-- Template JS Files -->
    <script src="/static/js/modernizr.js"></script>

    <!-- Live Style Switcher - demo only -->
	<link rel="alternate stylesheet" type="text/css" title="blue" href="/static/css/skins/blue.css" />
    <link rel="alternate stylesheet" type="text/css" title="goldenrod" href="/static/css/skins/goldrenrod.css" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="/static/css/skins/green.css" />
    <link rel="alternate stylesheet" type="text/css" title="magenta" href="/static/css/skins/magenta.css" />
    <link rel="alternate stylesheet" type="text/css" title="orange" href="/static/css/skins/orange.css" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="/static/css/skins/red.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellow" href="/static/css/skins/yellow.css" />
    <link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="/static/css/skins/yellowgreen.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styleswitcher.css" />

</head>

<body class="dark fullscreendark">
    <div class="page">
        <header id="header">
        <div class="nav-container">
            <div>
                <!-- Mobile Navigation Starts -->
                <ul id="nav" class="navigation">
                    <li class="active">
                        <div>
                            <a id="link-home" href="#home" class="active">
                                <i class="fa fa-home"></i><span>Home</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-about" href="#about">
                                <i class="fa fa-user"></i><span>About me</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-work" href="#work">
                                <i class="fa fa-briefcase"></i><span>my Portfolio</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-contact" href="#contact">
                                <i class="fa fa-envelope-open"></i><span>get in touch</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a id="link-blog" href="#blog">
                                <i class="fa fa-comments"></i><span>my Blog</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- Mobile Navigation Ends -->
            </div>
        </div>
        <!-- Stretchy Navigation Starts -->
        <div class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul class="stretchy-nav">
                <li class="active"><a href="#home"><span>Home</span></a></li>
                <li><a href="#about"><span>About</span></a></li>
                <li><a href="#works"><span>Portfolio</span></a></li>
                <li><a href="#contact"><span>Contact</span></a></li>
                <li><a href="#blog"><span>Blog</span></a></li>
                <!-- <li><a href="#payment"><span>Make Payment</span></a></li> -->
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </div>
        <!-- Stretchy Navigation Ends -->
    </header>
    <!-- Header Ends -->

    {% block body %}
    {% endblock %}

    </div>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="preloader-container">
            <h1>Ohunayo</h1>
            <div id="progress-line-container">
                <div class="progress-line"></div>
            </div>
            <h1>Gege</h1>
        </div>
    </div>
    <!-- Preloader Ends -->


   <!-- Template JS Files -->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/jquery.animatedheadline.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/transition.js"></script>
    <!-- Live Style Switcher JS File - only demo -->
<!--     <script src="/static/js/styleswitcher.js"></script> -->
    <!-- Main JS Initialization File -->
    <script src="/static/js/custom.js"></script>
</body>
</html>